html {
	height: 100%;
	width: 100%;
	overflow:auto;
	font-family: sans-serif;
}
body {
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	padding: 1px; /* This keeps elements from putting their margins outside of body */
}
@media (prefers-color-scheme: dark) {
}
@media (prefers-color-scheme: light) {
}
table {
	text-align: center;
	width: 100%;
	height: 100%;
}
tbody {
	height:100%;
}
tbody td {
	width: 10px;
	padding: 5px;
}
tbody>tr>th {
	height: 1px;
}
#message input, .textbox {
	font-family: monospace;
}
#interface {
	height: 100%;
}
#interface table {
	border-collapse: collapse;
}
#interface td {
	width:50%;
}
#connection {
	height: 1px;
}
td#message, td#message input {
	width: 100%;
}
td#sendButton {
	width:1px;
}
#sendButton, #message {
	height: 1px;
}
.textbox {
	resize: none;
	width: 100%;
	height: 100%;
	color: initial;
	background-color: initial;
	border-color: initial;
	cursor: text;
}
